{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
{% endblock head %}
    

{% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="container d-flex flex-column align-items-center">
            <div class="text-center mb-4 w-100">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary mb-3">
                    Sign up with Google
                </a>
            </div>
            <h3>or</h3>
            <br>
            <h1>Register</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="container d-flex flex-column align-items-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}
    